{% extends "base.twig" %}

{% block content %}

    <section id="wall" role="main" class="clearfix">
			
			{% if post.next %}
				<div id="next-project">
					<a href="{{post.next.link}}">next</a>
				</div>
			{% endif %}

			{% if post.prev %}
				<div id="prev-project">
					<a href="{{post.prev.link}}">previous</a>
				</div>
			{% endif %}

	    	 <div id="single-content">
					               	  
			    {% for nk_rep in post.get_field('rep_img') %}
					{% set th_padding = nk_rep.rep_thumb_pad|join(' ') %}
			    	<article class="{% if th_padding %} {{ th_padding }}{% endif %}">
					
						{% if nk_rep.wall_img %}
							
							<figure class="article_inner">

								<div class="article_overlay">
									<div class="overlay-inner">
										<div>
											<h2>{{ nk_rep.wall_capt }}</h2>
										</div>
									</div>
								</div><!-- .article_overlay -->

								{% if nk_rep.rep_thumb_size == 'ThWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(100)}}" alt="{{site.name}} - {{nk_rep.title}}"/>
								{% elseif nk_rep.rep_thumb_size == 'XSWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(150)}}" alt="{{site.name}} - {{nk_rep.title}}"/>
								{% elseif nk_rep.rep_thumb_size == 'SWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(200)}}" alt="{{site.name}} - {{nk_rep.title}}"/>
								{% elseif nk_rep.rep_thumb_size == 'SMWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(250)}}" alt="{{site.name}} - {{nk_rep.title}}"/>
								{% elseif nk_rep.rep_thumb_size == 'MWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(350)}}" alt="{{site.name}} - {{nk_rep.title}}"/>	
								{% elseif nk_rep.rep_thumb_size == 'LWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(450)}}" alt="{{site.name}} - {{nk_rep.title}}"/>
								{% elseif nk_rep.rep_thumb_size == 'XLWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(520)}}" alt="{{site.name}} - {{nk_rep.title}}"/>
								{% elseif nk_rep.rep_thumb_size == 'XXLWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(600)}}" alt="{{site.name}} - {{nk_rep.title}}"/>
								{% elseif nk_rep.rep_thumb_size == 'XXXLWidth' %}
									<img src="{{TimberImage(nk_rep.wall_img).src|resize(900)}}" alt="{{site.name}} - {{nk_rep.title}}"/>
								{% else %}
									<img src="{{TimberImage(nk_rep.wall_img).src}}" />
								{% endif %}

							</figure><!-- figure -->

						{% endif %}

					</article><!-- article -->
				{% endfor %}
		</div><!-- #single -->
		
		<div class="single-footer">
			<span>Copyright - {{"now"|date('Y')}}</span>

			<div id="arrow-up">
			   	<span id="smooth-scroll">Top</span>
			</div><!-- scroll-button-->

		</div><!-- single-footer -->

    </section><!-- #wall -->

{% endblock %}
