{% extends "base.twig" %}

{% block content %}

    <section id="wall" role="main" class="clearfix">

			{% if post.next %}
				<div id="next-project">
					<a href="{{post.next.link}}">next</a>
				</div>
			{% endif %}

			{% if post.prev %}
				<div id="prev-project">
					<a href="{{post.prev.link}}">previous</a>
				</div>
			{% endif %}

	    <div id="single-content">

			  {% for project in post.get_field('grid_proj') %}

          {% if project.acf_fc_layout == 'main' %}
			    	<article class="full{% if TimberImage(project.main_img).caption %} margined{% endif %}">

              <figure>
                <a class="fancybox" href="{{TimberImage(project.main_img).src}}">
								  <img src="{{TimberImage(project.main_img).src|resize(1000)}}" />
                </a>
							</figure><!-- figure -->
              {% if TimberImage(project.main_img).caption %}
  							<div class="caption">
  								<div class="caption-inner">
  									<p>{{TimberImage(project.main_img).caption}}</p>
  								</div>
  							</div><!-- .caption-->
              {% endif %}
					  </article><!-- article -->
          {% endif %}

        {% if project.acf_fc_layout == '2_col' %}

          <article class="half{% if TimberImage(project.left_col).caption %} margined{% endif %}">
            <figure>
              <a class="fancybox" href="{{TimberImage(project.left_col).src}}">
                <img src="{{TimberImage(project.left_col).src|resize(500)}}" />
              </a>
            </figure><!-- figure -->
            {% if TimberImage(project.left_col).caption %}
              <div class="caption">
                <div class="caption-inner">
                  <p>{{TimberImage(project.left_col).caption}}</p>
                </div>
              </div><!-- .caption-->
            {% endif %}
          </article><!-- article -->

          <article class="half{% if TimberImage(project.right_col).caption %} margined{% endif %} last">
            <figure>
              <a class="fancybox" href="{{TimberImage(project.right_col).src}}">
                <img src="{{TimberImage(project.right_col).src|resize(500)}}" />
              </a>
            </figure><!-- figure -->
            {% if TimberImage(project.right_col).caption %}
              <div class="caption">
                <div class="caption-inner">
                  <p>{{TimberImage(project.right_col).caption}}</p>
                </div>
              </div><!-- .caption-->
            {% endif %}
          </article><!-- article -->

        {% endif %}
			{% endfor %}
		</div><!-- #single -->

		<div class="single-footer">
			<span>Copyright - {{"now"|date('Y')}}</span>
		</div><!-- single-footer -->

  </section><!-- #wall -->

{% endblock %}
