<article class="tease" id="tease-{{post.ID}}">
	{% block content %}
		<div class="post-info">
			<h2>{{post.title}}</h2>
			<p class="date">{{post.date}}</p>
			<p>{{post.get_preview('Read More')}}</p>
		</div>
		<div class='post-img'>
			{% if post.get_thumbnail %}
				<article class="full">
					<a href="{{post.link}}">
						<img src="{{post.thumbnail.src|resize(800)}}" />
					</a>
				</article>
			{% endif %}

			{% if post.get_field('feat_img_1') %}
				<article class="half">
					<a href="{{post.link}}">
						<img src="{{TimberImage(post.get_field('feat_img_1')).src|resize(350, 350, 'center')}}" />
					</a>
				</article>
			{% endif %}
			{% if post.get_field('feat_img_2') %}
				<article class="half">
					<a href="{{post.link}}">
						<img src="{{TimberImage(post.get_field('feat_img_2')).src|resize(350, 350, 'center')}}" />
					</a>
				</article>
			{% endif %}
		</div>
	{% endblock %}
</article>
